# Install asdf-vm plugins and tools.
asdf_tools="
python 3.6.15
terraform 1.1.0
"
if command -v asdf > /dev/null; then
  echo "${asdf_tools}" > .tool-versions
  for plugin in $(cut -d ' ' -f 1 .tool-versions); do
      if ! asdf plugin-list | grep $plugin > /dev/null; then
          echo "Installing asdf plugin $plugin"
          asdf plugin-add $plugin
      fi
  done
  asdf install
fi

# Use a virtual environment for Python.
layout python3

# Install Python packages.
python_packages="
  black
  boto_source_profile_mfa==0.0.9
  flake8
  isort
  mkdocs
  mypy
  pytest
  twine
  -e pretf
  -e pretf.aws
"
pip install --upgrade pip
pip install $python_packages | grep -v "Requirement already satisfied:" || true

# Add a terraform shim to run Pretf instead of Terraform.
PATH_add "$(
  mkdir -p .direnv/bin &&
  cd $_ &&
  ln -fs $(which terraform) tf &&
  ln -fs $(which pretf) terraform &&
  pwd
)"
