# Use a virtual environment for Python.
layout python3

# Install Python packages.
python_packages="
black
boto_source_profile_mfa
flake8
isort
mkdocs
pytest
twine
"
for package in $python_packages; do
  pip install $package | grep -v "Requirement already satisfied:" || true
done

# Install pretf for local development.
pip install -e pretf | grep -v "Requirement already satisfied:" || true
pip install -e pretf.aws | grep -v "Requirement already satisfied:" || true

# Install asdf-vm plugins and tools.
asdf_tools="
terraform 0.12.1
"
if command -v asdf > /dev/null; then
  echo "${asdf_tools}" > .tool-versions
  for plugin in $(cut -d ' ' -f 1 .tool-versions); do
      if ! asdf plugin-list | grep $plugin > /dev/null; then
          echo "Installing asdf plugin $plugin"
          asdf plugin-add $plugin
      fi
  done
  asdf install
fi

# Add a terraform shim to run Pretf instead of Terraform.
PATH_add "$(
  mkdir -p .direnv/bin &&
  cd $_ &&
  ln -fs $(which terraform) tf &&
  ln -fs $(which pretf) terraform &&
  pwd
)"
