layout python3

pip install black flake8 isort mkdocs twine | grep -v "Requirement already satisfied:" || true
pip install -e pretf | grep -v "Requirement already satisfied:" || true
pip install -e pretf.aws | grep -v "Requirement already satisfied:" || true

if command -v asdf > /dev/null; then
  asdf plugin-list | grep terraform > /dev/null || asdf plugin-add terraform
  asdf install
fi
