stacks/*/*/*
!stacks/*/*/terraform.tfvars
!**/pretf.files.py
# Check with this command:
# find . -type f | git check-ignore --no-index --non-matching --verbose --stdin | grep -P '^.*:.*:[\s!]' | cut -f 2 | sort
